<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head"}}
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browser-upgrade">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->

    {{template "header"}}

    <main class="main">
        <section class="section-1 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="eye"></div>
                        <h1>Lorem ipsum dolor sit ametr.</h1>
                        <h2>Lorem ipsum dolor sit amet, consectetuer</h2>
                        <a class="btn btn-primary" href="login"><i class="fa fa-github"></i> SING UP WITH GITHUB</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Packed with features you can't live without.</h2>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <i class="fa fa-github fa-5x"></i>
                        <h3>GitHub Status Updates</h3>
                        <p>Push your code to GitHub and StyleCI automatically analyzes it. If something is amiss StyleCI will immediately notify you through the GitHub Status integration.</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <i class="fa fa-cogs fa-5x"></i>
                        <h3>Configure to your standards</h3>
                        <p>Push your code to GitHub and StyleCI automatically analyzes it. If something is amiss StyleCI will immediately notify you through the GitHub Status integration.</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <i class="fa fa-check-square fa-5x"></i>
                        <h3>Automatically fix your Spelling</h3>
                        <p>Push your code to GitHub and StyleCI automatically analyzes it. If something is amiss StyleCI will immediately notify you through the GitHub Status integration.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{template "footer"}}

    {{template "scripts"}}
</body>
</html>