body {
  background: $primary;
}

#eye {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  margin-top: -125px;
  margin-left: -125px;
  background:
          radial-gradient(circle at 32% 32%, white 13%, transparent 13%),
          radial-gradient(circle at 41% 41%, white 11%, transparent 12%),
          radial-gradient(black 27%, transparent 28%),
          radial-gradient(#00A8FF 38%, transparent 39%),
          radial-gradient(white 60%, transparent 61%),
          linear-gradient(#00A8FF, #00A8FF);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8),
  inset 0 2px 2px rgba(255, 255, 255, 0.5),
  inset 0 -2px 1px rgba(0, 0, 0, 0.3);
}