.section-1 {
  background: $light-black;
  padding: 40px 0;

}

.section-2 {
  background: $green-light;
  padding: 40px 0;

  h2 {
    color: $light-black;
   margin-bottom: 80px;
  }
  h3 {
    color: $light-black;
  }
}

.eye {
   width: 250px;
   height: 250px;
   margin: 0 auto;
   background:
           radial-gradient(circle at 32% 32%, white 13%, transparent 13%),
           radial-gradient(circle at 41% 41%, white 11%, transparent 12%),
           radial-gradient($light-black 27%, transparent 28%),
           radial-gradient($blue 38%, transparent 39%),
           radial-gradient($white 60%, transparent 61%),
           linear-gradient($green-light, $blue);
   border-radius: 30px;
 }