body {
  background: $light-black;

}

h1 {
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  color: $white;
}

.navbar-brand {
  font-size: 36px;
}

.navbar-default {
  padding: 20px 0;
}

#eye {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background:
          radial-gradient(circle at 32% 32%, white 13%, transparent 13%),
          radial-gradient(circle at 41% 41%, white 11%, transparent 12%),
          radial-gradient($light-black 27%, transparent 28%),
          radial-gradient($blue 38%, transparent 39%),
          radial-gradient($white 60%, transparent 61%),
          linear-gradient($green-light, $blue);
  border-radius: 30px;
}