{{define "footer"}}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 pull-left">
                <a href="#">GITHUB</a>
            </div>
            <div class="col-xs-12 col-md-6 pull-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                <p>&copy; 2016 cispell.com all rights reserved</p>
                    </li>
                    </ul>
            </div>
        </div>
    </div>
</footer>
{{end}}